body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.votes {
  float: right;
}

.cheer {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  width: 20%;
}

.reddit-btn {
 background-color: #343a40;
 border-color: #fff;
 box-shadow: none !important;
 outline: none !important;
}

.reddit-btn:hover {
  background-color: #FF4500;
  border-color: #fff;
}

.reddit-btn:focus {
  background-color: #FF4500 !important;
  border-color: #fff !important;
}

.likeability-badge {
  width: 70%;
  margin: 0 auto 10px auto;
}

.filter-btn {
  background-color: #343a40;
  border-color: #fff;
  outline: none;
  border: none;
}

#filter-btns {
  background-color: #343a40;
  display: inline-block;
}

.filter-btn:focus {
  background-color: #535d66 !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: #fff;
}

.filter-btn:hover {
  background-color: #525e69;
  border-color: #fff !important;
}

.active-filter {
  background-color: #535d66 !important;
  box-shadow: none !important;
  outline: none !important;
}

.div-center{
  display:block;
  width:50%;
  margin:0 auto;
  border: 1px black;
  border-style: solid;
}

@media (min-width: 992px) {
  .card-img {
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  .card {
    width: 50%;
  }

  #search-form {
    width: 50%;
    margin:0 auto;
  }
}

@media (max-width: 576px) {
  .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #search-form {
    width: 100%;
    margin:0 auto;
  }
}