@import url('https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,600');

body {
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#votes {
  display:inline-block;
  padding: 0;
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 70%;
  color: #FF4500;
  font-family: 'Caveat', cursive;
  font-size: 120%;
}

.votes {
  float: right;
}

.vote-image {
  float: right;
  /* display: inline-block; */
  margin-left: -10%;
}

.figure-caption {
  font-family: 'Caveat', cursive;
  font-size: 150%;
}

.cheer {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  width: 20%;
}

.reddit-btn {
 background-color: #343a40;
 border-color: #fff;
 box-shadow: none !important;
 outline: none !important;
 margin-top: 10px;
 border-radius:0;
}

.cheer-btn:active {
  left: 1px;
  top: 1px;
}

.reddit-btn:hover {
  background-color: #FF4500;
  border-color: #fff;
}

.reddit-btn:focus {
  background-color: #FF4500 !important;
  border-color: #fff !important;
}

.cheer-btn {
  background-color: #343a40;
  border-color: #fff;
  box-shadow: none !important;
  outline: none !important;
  margin-top: 10px;
  border-radius:0;
 }

 .cheer-btn:hover {
  background-color: #525e69;
  border-color: #fff;
}

.cheer-btn:focus {
  background-color: #525e69 !important;
  border-color: #fff !important;
}

.likeability-badge {
  width: 70%;
  margin: 0 auto 10px auto;
}

.filter-btn {
  background-color: #343a40;
  border-color: #fff;
  outline: none;
  border: none;
}

#filter-btns {
  background-color: #343a40;
  display: inline-block;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 1px solid #444c53;
}

.filter-btn:focus {
  background-color: #535d66 !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: #fff;
}

.filter-btn:hover {
  background-color: #525e69;
  border-color: #fff !important;
}

.active-filter {
  background-color: #535d66 !important;
  box-shadow: none !important;
  outline: none !important;
}

.div-center{
  display:block;
  width:50%;
  margin:0 auto;
  border: 1px black;
  border-style: solid;
}

.card-img{
  box-shadow: 2px 2px 10px #aaa;
}

.search-form {
  padding-top: 5%;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  width: 25%;
  height: 10px;
  border-radius: 5px;
  background-color: #343a40;
  box-shadow: none !important;
  outline: none !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #FF4500; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 20px;
  border-radius: 50%; 
}

.slider::-moz-range-thumb {
  -moz-appearance: none; /* Override default look */
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #FF4500; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 20px;
  border-radius: 50%;
  border: none;
}

.card-links {
  font-family: 'Caveat', cursive;
  font-size: 150%;
  color: #343a40;
  width: auto;
}

.card-links a {
  color: #FF4500;
  text-shadow: 0px 1px 3px #aaa;
}

.card-titles {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 600;
  font-family: 'Caveat', cursive;
  font-size: 200%;
  height: auto;
}

.fontawesome {
  pointer-events: none;
}

.about {
  text-align: left;
  padding-top: 1%;
  background-color: #fff;
  height: 100%;
}

.not-found {
  text-align: center;
  padding-top: 1%;
  background-color: #fff;
  height: 100%;
  font-family: 'Caveat', cursive;
  font-size: 200%;
}

.about img{
  width: 20%;
  height: auto;
  padding-bottom: 1%;
}

@media (min-width: 992px) {
  .card-img {
    width: 75%;
    height: auto;
    object-fit: cover;
  }

  .card {
    width: 50%;
  }

  #search-form {
    width: 50%;
    margin:0 auto;
  }

  .navbar-brand {
    font-weight: 600;
  }
}

@media (max-width: 576px) {
  .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #search-form {
    width: 100%;
    margin:0 auto;
  }
}